

.page.container
{
    margin: 0 auto;
    width: 34%;
    height: 100%;
}


.sidebars {
    border-left: solid 1px #dadada;
    border-right: solid 1px #dadada;
}

.clear-margins {
    margin: 0;
    padding: 0;
}
