form {
    padding: 1rem;

    input {
        width: 100%;
        margin: 1rem 0;
        line-height: 1.4rem;
        border: solid 1px slategrey;
    }

    label {
        margin: 0.6rem 0;
    }

    fieldset {
        margin: 1rem;
        padding: 2rem;
        border: solid 1px #ccc;

        legend {
            padding: 0 1rem;
            font-family: 'Bodoni 6', serif;
            font-size: 1.4rem;
            font-weight: 100;
        }
    }
}


form.destroy {
    display: inline;
}
