a.button {
    text-align: center;
    color: #126799;
    text-decoration: none;
}

a.button:hover {
    color: #126799;
}

a.button,
button,
input[type=button]
{
    display: inline-block;
    margin: 0.3rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;

    .light {
        background: #fafafa;
    }


}

a.button.primary,
button.primary,
input[type=button].primary
{
    color: white;
    background: #126799;
}

a.button.light,
button.light,
input[type=button].light
{
    background: #dadada;
    color: initial;
}
