@use 'form';


html,body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Chivo', 'Helvetica Neue', 'Arial', sans-serif;
}


//.page.container {
//    display: flex;
//    min-height: 100%;
//    min-width: 100%;
//    justify-content: center;
//    align-items: center;
//}


.stage {
    background: white;
    margin: 5rem auto 0 auto;
    width: 80vw;
    min-width: 80vw;

    border: solid 1px #dadada;

    header {
        padding: 1rem;
        background: #126799;

        h1.brand {
            margin: 0;
            padding-top: -0.2rem;
            font-family: 'Bodoni 11', serif;
            font-style: italic;
            color: white;

            span.thin {
                font-weight: 100;
            }

            span.thick {
                font-weight: 700;
            }
        }
    }

    nav {
        ul {
            display: inline;
            list-style: none;

            li {
                display: inline-block;
            }
        }
    }


    main {
        padding: 1rem;

        .actions {
            padding: 1.25rem 0;
            clear: both;
        }


        .pagination
        {
            nav {
                ul.pagination {
                    li.page-item {
                        display: inline-block;
                        padding: 0.6rem;
                        border-radius: 0.3rem;
                        background: #dadada;

                        a {
                            display: block;
                            color: #126799;
                            text-decoration: none;
                        }
                        a:visited {
                            color: teal;
                        }

                        a:hover {
                            color: teal;
                        }
                    }

                    li.page-item.active {
                        background: #126799;
                        color: white;

                        a {
                            display: block;
                            color: white;
                            text-decoration: none;
                        }
                        a:visited {
                            color: antiquewhite;
                        }

                        a:hover {
                            color: antiquewhite;
                        }
                    }
                }
            }
        }
    }



}
