@use 'aux';

html,body {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
}

body {
    //font-family: 'Chivo', 'Helvetica Neue', 'Arial', sans-serif;
    background: slategrey;
}

a {
    //color: #ec9d28;
    color: teal;
    text-decoration: none;
}

a:hover {
    color: #db9566;
    //text-decoration: underline;
    //text-decoration-color: #1997dd;
}

// header.
header.masthead {
    background: #126799;
    color: white;

    h1.brand {
        padding: 0.4rem;
        text-align: center;
        font-family: 'Bodoni 11', serif;
        font-style: italic;

        a {
            color: white;
            text-decoration: none;
        }



        a:hover {
            text-decoration: underline;
            text-decoration-color: lightskyblue;
        }

        a:hover:before {
            padding-right: 0.4rem;
            content: "\f015";
            font-family: "FontAwesome";
            font-style: normal;
        }

        span.thin {
            font-weight: 100;
        }

        span.thick {
            font-weight: 700;
        }
    }
}


// main content.
main {
    @extend .sidebars;

    overflow: auto;

    margin: 0;
    padding: 0;
    min-height: 100%;

    background: white;

    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #999;

    ul {
        list-style: none;

        li {
            padding: 1rem 2rem;
        }

        li:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 34%;
            padding: 1.6rem;
            border-bottom: solid 1px #dadada;
        }

        li:last-child:after {
            padding: inherit;
            border: none;
        }
    }


    .pagination.posts
    {
        height: 2rem;

        nav {
            ul.pagination {
                display: inline;
                list-style: none;

                li:after {
                    content: none;
                }



                li.page-item {
                    display: inline;
                    margin: 0.6rem;
                    padding: 0.6rem;
                    border-radius: 0.3rem;
                    background: #126799;
                    color: white;

                    a {
                        display: block;
                        height: 100%;
                        width: 100%;
                        color: white;
                        text-decoration: none;
                    }

                    a:visited {
                        color: white;
                    }

                    a:hover {
                        color: white;
                        text-decoration: underline;
                        text-decoration-color: #db9566;
                    }

                    .page-link {
                        height: 1rem;
                    }
                }

                li.page-item.disabled {
                    background: #dadada;
                    color: #999999;
                }

                li.page-item:first-of-type {
                    float: left;
                }
                li.page-item:last-of-type {
                    float: right;
                }

                li.page-item.active {
                    background: #126799;
                    color: white;

                    a {
                        display: block;
                        color: white;
                        text-decoration: none;
                    }
                    a:visited {
                        color: antiquewhite;
                    }

                    a:hover {
                        color: antiquewhite;
                    }
                }
            }
        }
    }

    article {
        padding: 0;
        margin: 0;

        h2 {
            font-family: 'Bodoni 11', serif;
            padding: 0;
            margin: 0.6rem 0;
            color: #304d72;

            a {
                color: #304d72;
                text-decoration: none;
            }

            a:hover {
                color: #304d72;
                text-decoration: underline;
            }
        }


        p.body,
        section.body
        {
            margin: 0.6rem 1rem;
            line-height: 1.4rem;
        }
    }


    article.single {
        margin: 0;
        padding: 1rem 2rem;
    }
}
