form {
  padding: 1rem;
}

form input {
  width: 100%;
  margin: 1rem 0;
  line-height: 1.4rem;
  border: solid 1px slategrey;
}

form label {
  margin: 0.6rem 0;
}

form fieldset {
  margin: 1rem;
  padding: 2rem;
  border: solid 1px #ccc;
}

form fieldset legend {
  padding: 0 1rem;
  font-family: "Bodoni 6", serif;
  font-size: 1.4rem;
  font-weight: 100;
}

form.destroy {
  display: inline;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: "Chivo", "Helvetica Neue", "Arial", sans-serif;
}

.stage {
  background: white;
  margin: 5rem auto 0 auto;
  width: 80vw;
  min-width: 80vw;
  border: solid 1px #dadada;
}

.stage header {
  padding: 1rem;
  background: #126799;
}

.stage header h1.brand {
  margin: 0;
  padding-top: -0.2rem;
  font-family: "Bodoni 11", serif;
  font-style: italic;
  color: white;
}

.stage header h1.brand span.thin {
  font-weight: 100;
}

.stage header h1.brand span.thick {
  font-weight: 700;
}

.stage nav ul {
  display: inline;
  list-style: none;
}

.stage nav ul li {
  display: inline-block;
}

.stage main {
  padding: 1rem;
}

.stage main .actions {
  padding: 1.25rem 0;
  clear: both;
}

.stage main .pagination nav ul.pagination li.page-item {
  display: inline-block;
  padding: 0.6rem;
  border-radius: 0.3rem;
  background: #dadada;
}

.stage main .pagination nav ul.pagination li.page-item a {
  display: block;
  color: #126799;
  text-decoration: none;
}

.stage main .pagination nav ul.pagination li.page-item a:visited {
  color: teal;
}

.stage main .pagination nav ul.pagination li.page-item a:hover {
  color: teal;
}

.stage main .pagination nav ul.pagination li.page-item.active {
  background: #126799;
  color: white;
}

.stage main .pagination nav ul.pagination li.page-item.active a {
  display: block;
  color: white;
  text-decoration: none;
}

.stage main .pagination nav ul.pagination li.page-item.active a:visited {
  color: antiquewhite;
}

.stage main .pagination nav ul.pagination li.page-item.active a:hover {
  color: antiquewhite;
}

