@import url(//indestructibletype.com/fonts/Bodoni/Bodoni.css);@import url(//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);@import url(//fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;1,400;1,700&display=swap.css);/*
    Google Fonts file
    apparently the sass compiler gets confused with the multiple semicolons with the new
    css2 url that google provides. To work around this, you can import a plain css file
    instead, apparently.
 */
* {
  margin: 0;
  padding: 0;
}

a.button,
button,
input[type=button] {
  margin: 0.3rem;
  padding: 0.6rem;
  min-width: 6rem;
  border: none;
  border-radius: 0.3rem;
  text-decoration: none;
}

a.button .light,
button .light,
input[type=button] .light {
  background: #fafafa;
}

a.button.primary,
button.primary,
input[type=button].primary {
  color: white;
  background: #126799;
}

a.button.light,
button.light,
input[type=button].light {
  background: #dadada;
  color: initial;
}

.message {
  margin: 1rem;
  padding: 1rem;
}

.message ul {
  padding: 1rem;
}

.message.warning {
  background: lightyellow;
  border: solid 1px goldenrod;
}

a.green,
button.green,
input[type=button].green {
  background: seagreen;
  color: white;
}

