@charset "UTF-8";

.page.container {
  margin: 0 auto;
  width: 34%;
  height: 100%;
}

.sidebars,
main {
  border-left: solid 1px #dadada;
  border-right: solid 1px #dadada;
}

.clear-margins {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
}

body {
  background: slategrey;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  color: #db9566;
}

header.masthead {
  background: #126799;
  color: white;
}

header.masthead h1.brand {
  padding: 0.4rem;
  text-align: center;
  font-family: "Bodoni 11", serif;
  font-style: italic;
}

header.masthead h1.brand a {
  color: white;
  text-decoration: none;
}

header.masthead h1.brand a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: lightskyblue;
          text-decoration-color: lightskyblue;
}

header.masthead h1.brand a:hover:before {
  padding-right: 0.4rem;
  content: "\F015";
  font-family: "FontAwesome";
  font-style: normal;
}

header.masthead h1.brand span.thin {
  font-weight: 100;
}

header.masthead h1.brand span.thick {
  font-weight: 700;
}

main {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: white;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #999;
}

main ul {
  list-style: none;
}

main ul li {
  padding: 1rem 2rem;
}

main ul li:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 34%;
  padding: 1.6rem;
  border-bottom: solid 1px #dadada;
}

main ul li:last-child:after {
  padding: inherit;
  border: none;
}

main article {
  padding: 0;
  margin: 0;
}

main article h2 {
  font-family: "Bodoni 11", serif;
  padding: 0;
  margin: 0.6rem 0;
  color: #304d72;
}

main article h2 a {
  color: #304d72;
  text-decoration: none;
}

main article h2 a:hover {
  color: #304d72;
  text-decoration: underline;
}

main article p.body,
main article section.body {
  margin: 0.6rem 1rem;
  line-height: 1.4rem;
}

main article.single {
  margin: 0;
  padding: 1rem 2rem;
}

